

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title" style="margin:auto">Login Page</h4>
  </div>
  <div class="modal-body" style="margin:auto">
      <div class="login">
        <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
            <input type="username" placeholder="username" formControlName="username" class="rounded-pill fields">
          </p>
      
          <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
            <div *ngIf="formControls.username.errors.required">username is required</div>
          </div>
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Password" formControlName="password" class="rounded-pill fields">
          </p>
      
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
          </div>
      
          <p>
            <input type="submit" value="Log in" class="btn btn-primary rounded-pill"  style="width: 200px;">
          </p>
        </form>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('close click')" >Close</button>
  </div>
</ng-template>



<div class="clearfix">
  <h4 class="modal-title" id="modal-basic-title" style="padding:20px 0px 0px 50px;" >Cinta Coding</h4>
  <button class="btn btn-primary rounded-pill right" (click)="open(content)">Login</button>
</div>

