.has-error input[type="email"],
.has-error input[type="password"] {
  border-color: rgb(216, 12, 12);
  color: rgb(230, 14, 14);
}

.fields {
  width: 200px;
  align-content: center;
}

.right {
  position: absolute;
  right: 50px;
  top: 20px;
  width: 100px;
  padding: 10px;
}

.leftside {
  padding-left: 50px;
  top: 20px;
  padding: 10px;
}
