


<div class="clearfix">
  <h4 class="modal-title" id="modal-basic-title" style="padding:20px 0px 0px 50px;" >Cinta Coding</h4>
  <p class="right">Welcome, <span (click)="showProfile()">{{currentUser}}</span></p> 
  <p (click)="logout()">Logout</p>
</div>



<div [hidden]="!isShowProfile">
  <div (click)="showProfile()">
    Kembali 
  </div>

  <table *ngIf="isShowProfile" class="table table-striped">
    <tr>
      <th>Username</th>
      <td>{{userprofile?.name}}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{userprofile?.email}}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{userprofile?.address?.street}}</td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{{userprofile?.phone}}</td>
    </tr>

  </table>

</div>



<div [hidden]="showdetail || isShowProfile">

  <table class="table table-striped">
    <tbody>
    <tr *ngFor="let list of listItem; let index = index">
      <td>
        {{list.username}}
      </td>
      <td>
        <tr>{{list.title}}</tr>
        <tr>
          <td>comment</td>
          <td (click)="detail(list.id,list.username)">detail</td>
        </tr>
      </td>
    </tr>
    </tbody>
  </table>
  
  
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
    </ngb-pagination>
  </div>
</div>

<div [hidden]="!showdetail">
  <div (click)="detail('temp','temp')">
    Kembali 
  </div>
<!-- <pre>{{postid|json}}</pre> -->

  <table *ngIf="showdetail" class="table table-striped">
    <tbody>
      <tr>
        <td> 
          <p>
            <b>{{postid?.username}}</b>
          </p>
        </td>
        <td>
          <tr>
            <td>
              {{postid?.title}}
            </td>
          </tr>
          <tr>
            <td>{{postid?.body}}</td>
          </tr>
          <tr>
            <td>
              <div (click)="showcomment(postid?.id)">        
                comment {{commentsPostid?.length}}
              </div>
              <table *ngIf="showdetailcomment" class="table table-striped">
                <tr *ngFor="let comment of commentsPostid">
                  <td>{{comment.name}}</td>
                  <td>{{comment.body}}</td>
                </tr>
              </table>
            
            </td>
          </tr>
        </td>
      </tr>
   
    </tbody>
  </table>


</div>
